input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: initial !important;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

label {
  font-size: 20px !important;
}

#copy-container {
  position: relative;
  width: 100px;
  border: 1px solid rebeccapurple;
  padding: 0px;
}

#copied {
  position: absolute;
  top: -30px;
  left: 20px;
  color: #198754;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

#copied.show {
  opacity: 1;
}

button#copy {
  width: 80px;
  height: 46px;
}

#copy-icon {
  font-size: 22px;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

#output {
  max-width: 450px;
  height: 46px;
  font-size: 16px;
}

/* SMALL SCREEN */
@media (max-width: 767px) {
  #copy {
    margin-top: 30px;
    margin-bottom: 16px;
  }
  #copied {
    top: 3px;
  }
}

/* BIG SCREEN */
@media (min-width: 768px) {
  #output {
    margin-left: 80px;
  }
}

#length-container {
  margin-left: 24px;
}

table tr td:last-child {
  text-align: end;
  min-width: 174px;
}

table tr td:nth-child(1),
table tr th:nth-child(1) {
  text-align: start;
}

th,
td {
  text-align: center;
}
