input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

label {
  font-size: 20px !important;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

#output {
  max-width: 450px;
  height: 46px;
}
@media (max-width: 767px) {
  #copy {
    margin-top: 30px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #output {
    margin-left: 108px;
  }
}

#length-container {
  margin-left: 24px;
}
