label {
  font-size: 20px !important;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

#output {
  max-width: 450px;
  height: 46px;
}
@media (max-width: 767px) {
  #copy {
    margin-top: 30px;
    margin-bottom: 16px;
  }
}
